.defaultButton {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  width: auto;
  padding: 0 16px;
  gap: 0.5rem;

  border: solid transparent;
  border-width: 2px 2px 4px;
  border-radius: 12px;
  background-color: transparent;

  font-weight: 700;
  outline: 0;
  transition: filter 0.2s;

  &:active {
    transform: translatey(2px);
    border-bottom-width: 2px;
  }

  &:hover {
    filter: brightness(0.9)
  }

  img {
    height: 1.5rem;
  }

  span {
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 700;
  }
}