.header {
  margin: 0 auto;
  max-width: 1065px;
  height: 70px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #FFF;
  font-size: 36px;
  font-weight: 700;
}

.profileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
  border-radius: 9999px;

  span {
    color: white;
    font-size: 1.25rem;
  }

  img {
    height: 2rem;
    border-radius: 50%;
  }
}