.container {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  position: relative;

  > button {
    position: absolute;

    right: 0;
    bottom: 0;
    padding: 0 1rem;

    background-color: transparent;
    border: none;
    color: #F05454;
    cursor: pointer;

    opacity: 0.6;

    &:hover {
      opacity: 1;
      transform: scale(1.01);
    }
  }

  img {
    height: 60px;
    width: 60px;
    border-radius: 50%;

    @media screen and (max-width: 500px) {
      height: 40px;
      width: 40px;
    }
    
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    span {
      color: #1cb0f6;
      font-weight: 800;
      font-size: 1rem;
    }

    p {
      color: #FFF;
      font-weight: 500;
      font-size: 0.9rem;
      flex-wrap: wrap;
    }

    .messageDate {
      color: #AFAFAF;
      font-style: italic;
      font-weight: 500;
      font-size: 0.75rem;
      margin-left: auto;

      @media screen and (max-width: 500px) {
        display: none;
      }
    }
  }


}