.container {
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 0.5rem;
  gap: 1rem;
  width: max-content;
  position: relative;
  background-color: #235390;
  border-radius: 15px;

  > button {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 1rem;

    color: red;
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: auto;

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: auto;
    }

    span {
      color: #1cb0f6;
      font-weight: 500;
      font-size: 1rem;
      margin-right: 1rem;
    }

    p {
      color: #FFF;
      font-weight: 500;
      font-size: 1rem;
      flex-wrap: wrap;
    }

    .messageDate {
      color: #AFAFAF;
      font-style: italic;
      font-weight: 500;
      font-size: 0.75rem;
      margin-left: 5rem;

      @media screen and (max-width: 500px) {
        display: none;
      }
    }
  }
}

.ownerContainer {
  margin-left: auto
}